
.circle {
    display: inline-block;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 1px solid red;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}
